.intro-header {
  background-color: #FF5252;
}

.dining-hall {
  display: inline-block;
  width: 400px;
  padding: 10px;
  margin: 5px;
  background-color: #FFCDD2;
  height: 400px;
  vertical-align: top;
  border-radius: 10px;

}

.row {
  text-align: center;
  vertical-align: bottom;
}

#ratty-num, #br-num, #aco-num, #jos-num,
#aco-num, #vw-num, #vw-chance, #aco-chance,
#jos-chance, #ratty-chance, #br-chance {
  font-weight: bold;
}
.intro-header .site-heading h1 {
  font-size: 40px;
}

.intro-header .site-heading {
  padding: 20px 0 20px;
}

/* Prevent horizontal scrolling*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

footer {
    padding: 0 0 65px;
}